body {
    margin: 40px;
    padding: 40px;
    background-image: url('./images/blob-scatter-haikei.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Courier New, Geneva, Tahoma, sans-serif;
    font-size: x-large;
}


.avatar {
    width: 200px;
    height: 200px;
    border-radius: 2%;
    padding: 5px;
    
    
}
.avatar:hover{
    transform: rotate(-5deg);
    transition: transform 0.2s;
}

.card {
    width: 500px;
    height: 250px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #b4c5e4;
    color: #3c3744;
    border-bottom: 10px solid #3066be;
    border-radius: 2%;
    

}

.card:hover{
    background: #BBCDEE;
    box-shadow:5px 5px #3c3744;
    transition: transform 0.15s;
    transform: scale(1.1);
   
    
}

.border-blue {
    border: 4px dotted blue;
}


